<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css">
  <title>My Voting App</title>
</head>
<body>
  <section class="section-top">
    <div class="content rellax" data-rellax-speed="5">
      <h1>Online Voting Portal</h1>
      <a href="#" class="btn">Learn More</a>
    </div>
  </section>

  <section class="section-stream">
    <img src="./images/icon1.png" alt="" class="vote rellax" data-rellax-speed="-1" data-rellax-xs-speed="-5">

    <div class="content rellax" data-rellax-speed="7">
      <div>
        <h2 class="secondary-text">Create Your Own Poll</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
           At illum architecto accusamus aliquid nemo, laboriosam omnis molestiae 
           perspiciatis laborum vel aperiam quam tempora voluptate blanditiis 
           neque ex cupiditate harum autem?</p>
      </div>
      <div>
          <h2 class="secondary-text">Do Vote to express yourself</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             At illum architecto accusamus aliquid nemo, laboriosam omnis molestiae 
             perspiciatis laborum vel aperiam quam tempora voluptate blanditiis 
             neque ex cupiditate harum autem?</p>
        </div>
    </div>
  </section>
  <section class="section-grid">
    <div class="rellax" data-rellax-speed="1" data-rellax-xs-speed="3">
      <a href="/createPoll"><i class="fas fa-poll fa-3x secondary-text"></i></a>
      <h2>Create Poll <span class="secondary-text dot">.</span></h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Possimus rerum alias ipsam maxime reprehenderit veritatis illo 
        exercitationem aperiam obcaecati voluptas magni ad, fugiat dolores corrupti?</p>
    </div>
    <div class="rellax" data-rellax-speed="4" data-rellax-xs-speed="3">
        <a href="/member"><i class="fas fa-users fa-3x secondary-text"></i></a>
        <h2>Become a member<span class="secondary-text dot">.</span></h2>
        <p>Take the benefit of free membership for the new users.
          Just enter your details and become a member to enjoy unlimited Voting
          and Polls creating.You'll get your seperate profile where all your polls will be saved
          and can be seen by your friends. 
        </p>
      </div>
      <div class="rellax" data-rellax-speed="7" data-rellax-xs-speed="3">
          <a href="/voting"><i class="fas fa-person-booth fa-3x secondary-text"></i></a>
          <h2>Do Vote<span class="secondary-text dot">.</span></h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Possimus rerum alias ipsam maxime reprehenderit veritatis illo 
            exercitationem aperiam obcaecati voluptas magni ad, fugiat dolores corrupti?</p>
        </div>
  </section>
  <footer class="footer">
    <ul>
      <li><a href="#">Faq</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Notice</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </footer>
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js" integrity="sha256-+xf9aJnHocnmrigq2hIDJGBSAnJdF5NH+Ooe5J2PHiI=" crossorigin="anonymous"></script>
<script>
  //init rellax library
  let rellax = new Rellax('.rellax');
</script>
</body>
</html>